#on suit les liens symboliques

Options +FollowSymLinks

#Activation du mode rewrite d'apache

RewriteEngine On

RewriteRule ^home index.php [L,QSA]

#RewriteRule ^weTransferBis/(home) index.php?url_error=$1 [L,QSA]

RewriteRule ^intermediaire index.php [L,QSA]


RewriteRule ^reception index.php [L,QSA]


RewriteRule ^download/([A-Za-z0-9]+)/$ index.php?url_file=$1 [L,QSA]

