#on suit les liens symboliques

Options +FollowSymLinks

#Activation du mod rewrite d'apache

RewriteEngine On

RewriteRule ^home/$ index.php [L,QSA]

RewriteRule ^reception index.php [L,QSA]

RewriteRule ^intermediaire index.php [L,QSA]
