{% extends 'layout.html' %}

{% block title %}{% endblock %} {% block section %}

<main>

    <!-- 1ère METHODE : avec l'attribut HTML download -->
    <!-- path_to_file = url du fichier à télécharger -->
    <!-- file_name = nom sous lequel le fichier sera enregistré -->


    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="container">
                <div class="cercle">

                    
                    <div class="blocForm">
                        <p class="text-center">
                            <a href="{{allinfosDl.lien_f}}" download="{{allinfosDl.nom_f}}">Télécharger votre fichier</a>
                        </p>
                    </div>
                    <div class="blocForm">
                        <p class="text-left">
                            {{allinfosDl.mail_d}}
                        </p>
                    </div>
                    <div class="blocForm">
                        <p class="text-left">
                            {{allinfosDl.mail_ex}}
                        </p>
                    </div>
                    <div class="blocForm">
                        <div class="text-left">
                            {{allinfosDl.message_f}}
                        </div>
                    </div>
                    <div class="blocForm">
                        <p class="text-left">
                            {{allinfosDl.taille_f}}
                        </p>
                    </div>
                    <div class="blocForm">
                        <p class="text-left">
                            {{allinfosDl.date_f}}
                        </p>
                    </div>
          
                </div>
            </div>
        </div>
    </div>

</main>


{% endblock %}