{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block section %}

	<form id="form" method="post" action="intermediaire" enctype="multipart/form-data">


		<div class="container">

			<input type="hidden" name="MAX_FILE_SIZE" value="32481010">

			<div class="customBrowser row">
				<p class="label_font">Parcourir
					<label for="file" class="label_file"><i class="fas fa-plus-circle iconColor"></i></label>
				</p>
				<input id="file" class="button input-file" name="upFile" type="file">
				
			</div>

			<div class="container">

				<div class="row">
					<img src="./e-poste-projet/medias/dest-arrow-icon.png" width="40px" height="40px"/>
					<input type="text" name="destinataire" placeholder="Destinataire">
				</div>

			</div>

			<div class="container">

				<div class="row">
					<img src="./e-poste-projet/medias/exp-arrow-icon.png" width="40px" height="40px"/>
					<input type="text" name="expediteur" placeholder="Expediteur">
				</div>

			</div>

				<textarea class="messageHolderSize" name="message" placeholder="Votre message"></textarea> <!-- change to input type text ?-->
				<input class="btn btn-warning btn_radius" type="submit" name="upload" value="Envoyer">

		</div>	

	</form>


{% endblock %}