{% extends 'layout.html' %}

{% block section %}
<!-- style="display: none;" -->
<!-- class="invisible" -->
<div class="row">
	<div class="col-12 col-lg-6">
		<div class="container-form">
			<div class="cercle"></div>

			<form id="form" class="formulaire" method="post" action="intermediaire" enctype="multipart/form-data">
				<div class="blocForm">
					
					<input type="hidden" name="MAX_FILE_SIZE" value="32481010">
					<input id="inpfile" class="invisible" name="upFile" type="file">
					<p class="text-center home_p_size">PARCOURIR
						<button id="btnaddfile" type="button" class="btn btn-primary btn-radius">+</button>
					</p>
				</div>
				<div class="blocForm">
					<img src="./e-poste-projet/medias/dest-arrow-icon.png" class="img--pos" width="40px" height="40px" />
					<label class="label_transform" for="destinataire">Destinataire</label>
					<input type="text" class="inptext " id="destinataire" name="destinataire" value="">
				</div>
				<div class="blocForm">
					<img src="./e-poste-projet/medias/exp-arrow-icon.png" class="img--pos" width="40px" height="40px" />
					<label class="label_transform" for="expediteur">Expediteur</label>
					<input type="text" class="inptext exp_margin" id="expediteur" name="expediteur" value="">
				</div>
				<div class="blocForm">
					<label class="labelmessage label_transform" for="message">Message</label>
					<textarea class="txtamessage" name="message" id="message"></textarea>
				</div>
				<div class="blocForm">
					<input class="btn btn-warning btn_radius" type="submit" name="upload" value="Envoyer">

			</form>
		</div>
	</div>
</div>

	<script src="assets/js/script.js"></script>

{% endblock %}