{% extends 'layout.html' %} {% block title %}{% endblock %}
<title> Votre correspondant "{{destinataire.mail}}" a bien reçu votre mail. </title>


{% block section %}

<main>

    <div class="icon_reception"></div>
    <!-- <img src="/assets/medias/images/icon/png/file.png" class="img--pos" width="70px" height="70px"/> -->

    <p class="reception_p">
        Votre fichier a bien été transmis.
    </p>

    <p class="reception_link_p">
        Lien a copier/coller :
    </p>

    <div class="colored_rectangle">
        {{fichier.lien}}
    </div>

</main>

{% endblock %}