//Partie Chaymaa
@font-face {
    font-family: "kiona";
    src: url('../fonts/Kiona-Regular.ttf');
    /*police*/
}

@font-face {
    font-family: "roboto";
    src: url('../fonts/Roboto-Thin.ttf');
    /*police*/
}

@font-face {
    font-family: "jenna sue";
    src: url('../fonts/JennaSue.ttf');
    /*police*/
}
.btn_radius{
    display: flex;
    margin: auto;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
}
button, input, optgroup, select, textarea{
    margin: 10px;
    font-family: "roboto";
    font-size: inherit;
    line-height: inherit;
    color:#3b3a40;
    display : block; 
    justify-content: center;
}
img {
    vertical-align: middle;
    border-style: none;
    margin-left: 70px;
}



// h3{
//     font-size: 20px;
//     color: #3b3a40;
//     font-family: "roboto";
// }

//Fin partie 





//Partie Seb
.bodyBg {
    background-color: #c0b6aa;
    margin : auto;
}
 
.parachute {
    width: 30%;
    height: 30%;
}

.logo_p{
    // display: flex;
    // justify-content: flex-end;
    padding-left: 80px;
    width: 70%;
    height: 70%;
}

.circle {
    background: white;
    border-radius: 100%;
    color: white; 
}

.circle_center {
    width: 349px;
    height: 349px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.customBrowser{
    // overflow: hidden;
    display: flex;
    justify-content: center;
    
    
}


// on personnalise le label comme on veut
.label_font {
    color: #000000;
    font-family: 'roboto';
    text-transform: uppercase;
    margin-top: 40px;
}

.label_file {
    cursor: pointer;
}
.label_file:hover {
    color: #25a5c4;
}

// et on masque le input
.input-file {
    display: none;
}

textarea {
    resize: none;

}

.messageHolderSize{
    width: 78%;
    margin-left : 55px;
}

.btn_radius {
    display: flex;
    margin: auto;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
}

.iconColor{
    // background-color: #ffff;
    color: #ebb940;
}

@media (min-width: 992px) { 

    .circle_center {
        //a placer dans un média kiri je crois
        width: 550px;
        height: 550px;
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // left: 0;
        // right: 0;
        // margin: auto;
    }

    .parachute{
        width: 20%;
        height: 20%;
     

    }


    .iconColor{
        // background-color: #ffff;
        color: #ebb940;
        font-size :30px;
    }

}

// @media (min-width: 1200px) 

// 
//


//Fin partie Seb